<form [formGroup]="generator" (ngSubmit)="generate()">
    <div class="title">
        <h3>Critères de génération :</h3>
        <div class="hint">
            Veuillez saisir le nombre de personnes à générer ainsi que le choix
            du genre.
        </div>
    </div>

    <div class="field-wrapper">
        <mat-form-field class="count" appearance="fill">
            <mat-label>Enter a number of rows</mat-label>
            <input
                matInput
                type="number"
                placeholder="Nombre"
                formControlName="count"
            />
        </mat-form-field>
        <mat-error *ngIf="errors && errors.count && errors.count.length > 0">
            <span *ngFor="let error of errors.count">{{ error }}</span>
        </mat-error>
    </div>

    <div class="gender">
        <mat-checkbox class="Homme" formControlName="male">Homme</mat-checkbox>
        <mat-error *ngIf="errors && errors.male && errors.male.length > 0">
            <span *ngFor="let error of errors.male">{{ error }}</span>
        </mat-error>

        <mat-checkbox class="Femme" formControlName="female"
            >Femme</mat-checkbox
        >
        <mat-error *ngIf="errors && errors.female && errors.female.length > 0"
            ><span *ngFor="let error of errors.female">{{
                error
            }}</span></mat-error
        >
    </div>

    <div class="actions">
        <button mat-raised-button type="submit" [disabled]="generator.invalid">
            Générer
        </button>
    </div>
</form>
