<form [formGroup]="generatorForm" (ngSubmit)="generate()">
    <div class="title">
        <h3>Critères de génération :</h3>
        <div class="hint">
            Veuillez saisir le nombre de personnes à générer ainsi que le choix
            du genre.
        </div>
    </div>

    <div class="field-wrapper">
        <mat-form-field class="count" appearance="fill">
            <mat-label>Enter a number of rows</mat-label>
            <input
                matInput
                type="number"
                placeholder="Nombre"
                formControlName="count"
                pattern="^([1-9][0-9]{0,2}|1000)$"
            />
        </mat-form-field>
        <mat-error *ngIf="generatorForm.controls.count">
            <span *ngIf="generatorForm.controls.count.errors?.['required']"
                >Ce champ est obligatoire</span
            >
            <span *ngIf="generatorForm.controls.count.errors?.['pattern']"
                >Veuillez saisir une valeur entre 1 et 1000</span
            >
        </mat-error>
    </div>

    <div class="gender">
        <div class="form-group" formGroupName="genderGroup">
            <mat-checkbox class="Homme" formControlName="male"
                >Homme</mat-checkbox
            >
            <mat-checkbox class="Femme" formControlName="female"
                >Femme</mat-checkbox
            >
            <mat-error
                *ngIf="
                    generatorForm.controls.genderGroup.errors
                        ?.['requireCheckboxesToBeChecked']
                "
                ><span>Veuillez cochez au moins une option</span></mat-error
            >
        </div>
    </div>

    <div class="actions">
        <button
            mat-raised-button
            type="submit"
            [disabled]="generatorForm.invalid"
        >
            Générer
        </button>
    </div>
</form>
